chess==1.10.0
cloudpickle==3.0.0
gym==0.26.2
gym-notices==0.0.8
numpy==1.26.4
pandas==2.2.2
python-chess==1.999
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
tqdm==4.66.2
tzdata==2024.1
zstandard==0.22.0
